doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/socket.io.min.js')
    script(src='/javascripts/vendor/jade.runtime.js')
    script(src='/javascripts/build/templates.js')
    script(src='/javascripts/main.js')
  body
    div#contents
        include contents