doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/socket.io.min.js')
    script(src='/javascripts/main.js')
  body
    block content