<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if page.tags contains 'home' %}
                {{ page.title }}
            {% else %}
                {{ page.title }} &middot; {{ site.title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.2.0/css/darkly/bootstrap.min.css">
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{ site.title }}</a>
                    <ul class="nav navbar-nav">
                        {% assign menu_tag = 'main_menu' %}
                        {% include menu.html %}
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
            </div>
        </nav>
        <div class="container">