<section class="json panel panel-success" id="{{ id }}">
    <header class="panel-heading">
        <h2 class="panel-title">{{ title }}</h2>
    </header>
    <div class="panel-body">
        {{ json }}
    </div>
    <footer class="text-muted">Updated: {{lastUpdated}}</footer>
</section>