<div id="{{ id }}">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">{{ title }}</h2>
        </div>
        <div class="panel-body">
            {{ json }}
        </div>  
    </div>
</div>