<section class="no-data panel panel-warning" id="{{ id }}">
    <header class="panel-heading">
        <div class="row">
            <h2 class="panel-title col-xs-6">{{ title }}</h2>
            <div class="col-xs-6"><span class="pull-right">No Data Yet.</span></div>
        </div>
    </header>
</section>